In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.DataFrame(columns=['name', 'grade', 'holds', 'setter'])

In [57]:
df.name = ['Boulder1', 'Boulder2', 'Boulder3', 'Boulder4']
df.grade = ['5a', '6a', '7c', '6b+']
df.setter = ['MS', 'LK', 'AC', 'LK']
df.holds = [[2,7, 18 , 29, 50 , 100, 138], [3, 10, 34, 28, 98, 128], sorted([1, 47, 34, 119, 89, 43]), sorted([90, 32, 33, 100, 55, 4])]

In [58]:
df

       name grade                         holds setter
0  Boulder1    5a  [2, 7, 18, 29, 50, 100, 138]     MS
1  Boulder2    6a      [3, 10, 34, 28, 98, 128]     LK
2  Boulder3    7c      [1, 34, 43, 47, 89, 119]     AC
3  Boulder4   6b+      [4, 32, 33, 55, 90, 100]     LK

In [59]:
df.to_csv('boulder.csv', index=False)

In [60]:
df = pd.read_csv('boulder.csv')
df

       name grade                         holds setter
0  Boulder1    5a  [2, 7, 18, 29, 50, 100, 138]     MS
1  Boulder2    6a      [3, 10, 34, 28, 98, 128]     LK
2  Boulder3    7c      [1, 34, 43, 47, 89, 119]     AC
3  Boulder4   6b+      [4, 32, 33, 55, 90, 100]     LK